{% extends "template.html" %}

{% load staticfiles %}

{% block title %}Exercícios :: Flipped Learning Banco de Dados{% endblock %}

{% block link %}<link rel="stylesheet" type="text/css" href="{% static "css/exercise_page.css" %}">{% endblock %}

{% block content %}
    {% for exercise in exercises %}
        <a href="{% url 'abrir_exercicio' exercise.id %}">
            <div class="exercicio" onclick="">
                <span class="texto_exercicio">
                    Descrição: {{ exercise.descricao }}
                </span>
            </div>
        </a>
    {% endfor %}
{% endblock %}