{% extends "template.html" %}

{% load staticfiles %}

{% block title %}Fórum :: Flipped Learning Banco de Dados{% endblock %}

{% block link %}<link rel="stylesheet" type="text/css" href="{% static "css/forum_page.css" %}">{% endblock %}

{% block content %}
    <div id="busca">
        <form method="post" action="#">
            <input type="text" name="search" placeholder="Faça sua busca" class="field"
                   autofocus value="{% if search %}{{ search }}{% endif %}"/>
            <input type="submit" class="button" value="Buscar"/>
        </form>
    </div>
    <div id="assunto">
        <table>
            <tr><td><span>Filtro por assunto:</span></td></tr>
            {% for subject in subjects %}
                <tr>
                    <td>
                        <input type="checkbox" name="filtro_assunto"
                               value="{{ subject.id }}"/>
                        <span>{{ subject.nome }}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="resultado">
        <span>Aqui serão exibidos os resultados da busca!</span>
    </div>
{% endblock %}