{% extends "template.html" %}

{% load staticfiles %}

{% block title %}Exercícios :: Flipped Learning Banco de Dados{% endblock %}

{% block link %}<link rel="stylesheet" type="text/css" href="{% static "css/question_page.css" %}">{% endblock %}

{% block content %}
    <span class="texto_cabecalho">Lista de Exercícios {{ exercise.id }}</span>
    <br/>
    <span class="texto_questao">{{ exercise.descricao }}</span>
    <br/>
    {% if answer == True %}
        <div class="error_message" style="background-color: green">Resposta correta =)</div>
    {% elif answer == False %}
        <div class="error_message" style="background-color: red">Resposta incorreta =/</div>
    {% endif %}
    {% for question in questions %}
        <form method="post" action="{% url 'verificar_questao' exercise.id question.id %}">
            <table style="width: 100%">
                <tr>
                    <td>
                        <span class="texto_questao">{{ question.id }} . {{ question.pergunta }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="resposta" class="field_area">
                            {% for key, value in answers.items %}
                                {% if key == question.id %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right"><input type="submit" class="button" value="Enviar"></td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    {% endfor %}
{% endblock %}