#busca
{
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#assunto
{
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    margin-bottom: 10px;
}

#lista_assunto
{
    background-color: #5F6166;
    color: #FFFFFF;
    padding: 0 10px;
}

#resultados
{
    position: relative;
    float: right;
    width: 80%;
    height: 100%;
}

.resultado
{
    position: relative;
    float: left;
    width: 100%;
    background-color: #5F6166;
    color: #FFFFFF;
    padding: 10px 0;
}

.comentario
{
    position: relative;
    float: right;
    width: 95%;
    margin-top: 1px;
}

.field
{
    background-color: #5F6166;
    color: #FFFFFF;
    width: 500px;
    height: 40px;
    font-size: 14px;
    border: 0;
    font-family: arial;
    padding: 0 10px;
}

.button
{
    background-color: #6EAD4D;
    color: #FFFFFF;
    width: 70px;
    height: 40px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
    border: 0;
    cursor: pointer;
    margin-left: 5px;
}

.texto_filtro_assunto
{
    font-family: arial;
    font-size: 14px;
}

.texto_resultado
{
    font-family: arial;
    font-size: 15px;
}